USE [master]
GO
/****** Object:  Database [AbarrotesBD]    Script Date: 21/08/2025 05:40:09 p. m. ******/
CREATE DATABASE [AbarrotesBD]
USE [AbarrotesBD]
GO
/****** Object:  Table [dbo].[Colonia]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colonia](
	[IdColonia] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[CodigoPostal] [varchar](30) NULL,
	[IdMunicipio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdColonia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[IdCompra] [int] IDENTITY(1,1) NOT NULL,
	[FechaCompra] [datetime] NULL,
	[IdSucursal] [int] NULL,
	[Total] [decimal](12, 2) NULL,
	[IdProveedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[IdDetalleCompra] [int] IDENTITY(1,1) NOT NULL,
	[IdCompra] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IdDetalleVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdVenta] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Direccion](
	[IdDireccion] [int] NOT NULL,
	[Calle] [varchar](50) NULL,
	[NumeroInterior] [varchar](10) NULL,
	[NumeroExterior] [varchar](10) NULL,
	[IdColonia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDireccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Estado](
	[IdEstado] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InventarioSucursal]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InventarioSucursal](
	[IdInventarioSucursal] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NULL,
	[IdProducto] [int] NULL,
	[Cantidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInventarioSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Municipio](
	[IdMunicipio] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[IdEstado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](100) NULL,
	[PrecioUnitario] [decimal](10, 2) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Proveedor](
	[IdProveedor] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](20) NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROL](
	[IdRol] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RompimientoProductoProveedor]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RompimientoProductoProveedor](
	[IdDetalle] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NULL,
	[IdCompra] [int] NULL,
	[IdProveedor] [int] NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sucursal](
	[IdSucursal] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [varchar](12) NULL,
	[IdDireccion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Correo] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Status] [bit] NULL,
	[IdRol] [int] NULL,
	[IdSucursal] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 21/08/2025 05:40:10 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[IdVenta] [int] IDENTITY(1,1) NOT NULL,
	[IdSucursal] [int] NULL,
	[FechaVenta] [datetime] NULL,
	[Total] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (1, N'Guadalupe Inn', N'1001', 1)
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (2, N'Axotla', N'1001', 1)
INSERT [dbo].[Colonia] ([IdColonia], [Nombre], [CodigoPostal], [IdMunicipio]) VALUES (3, N'Florida', N'1001', 1)
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([IdCompra], [FechaCompra], [IdSucursal], [Total], [IdProveedor]) VALUES (1, CAST(0x0000B33F00000000 AS DateTime), 1, CAST(20.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[Compra] ([IdCompra], [FechaCompra], [IdSucursal], [Total], [IdProveedor]) VALUES (4, CAST(0x0000B340016CF93D AS DateTime), 2, CAST(120.00 AS Decimal(12, 2)), 2)
INSERT [dbo].[Compra] ([IdCompra], [FechaCompra], [IdSucursal], [Total], [IdProveedor]) VALUES (5, CAST(0x0000B340016CF93D AS DateTime), 1, CAST(442.00 AS Decimal(12, 2)), 6)
SET IDENTITY_INSERT [dbo].[Compra] OFF
SET IDENTITY_INSERT [dbo].[DetalleCompra] ON 

INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 37, 15, CAST(18.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 5, 8, 12, CAST(10.50 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCompra] ([IdDetalleCompra], [IdCompra], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 6, 12, 26, CAST(2.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCompra] OFF
SET IDENTITY_INSERT [dbo].[DetalleVenta] ON 

INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 1, 2, CAST(28.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (2, 3, 8, 2, CAST(8.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleVenta] ([IdDetalleVenta], [IdVenta], [IdProducto], [Cantidad], [PrecioUnitario]) VALUES (3, 4, 12, 2, CAST(12.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleVenta] OFF
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia]) VALUES (1, N'Av.Paseo Reforma 222', N'45', N'222', 1)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia]) VALUES (2, N'Av.Churrubusco', N'0', N'122', 5)
INSERT [dbo].[Direccion] ([IdDireccion], [Calle], [NumeroInterior], [NumeroExterior], [IdColonia]) VALUES (3, N'Av.Gobernador', N'0', N'486', 12)
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (1, N'Ciudad de México')
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (2, N'Baja California')
INSERT [dbo].[Estado] ([IdEstado], [Nombre]) VALUES (3, N'Baja California Sur')
SET IDENTITY_INSERT [dbo].[InventarioSucursal] ON 

INSERT [dbo].[InventarioSucursal] ([IdInventarioSucursal], [IdSucursal], [IdProducto], [Cantidad]) VALUES (1, 1, 1, 30)
INSERT [dbo].[InventarioSucursal] ([IdInventarioSucursal], [IdSucursal], [IdProducto], [Cantidad]) VALUES (2, 2, 2, 12)
INSERT [dbo].[InventarioSucursal] ([IdInventarioSucursal], [IdSucursal], [IdProducto], [Cantidad]) VALUES (3, 3, 3, 8)
SET IDENTITY_INSERT [dbo].[InventarioSucursal] OFF
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (1, N'Álvaro Obregón', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (2, N'Azcapotzalco', 1)
INSERT [dbo].[Municipio] ([IdMunicipio], [Nombre], [IdEstado]) VALUES (3, N'Benito Juárez', 1)
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [PrecioUnitario], [Activo]) VALUES (1, N'Arroz 1kg', N'Arroz blanco extra', CAST(28.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [PrecioUnitario], [Activo]) VALUES (2, N'Frijol 1kg', N'Frijol pinto seleccionado carbonado', CAST(34.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [PrecioUnitario], [Activo]) VALUES (3, N'Azúcar 1kg', N'Azúcar estándar', CAST(26.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Producto] OFF
INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [Telefono], [Activo]) VALUES (1, N'CocaCola', N'885585878', 1)
INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [Telefono], [Activo]) VALUES (2, N'CocaCola', N'885585878', 1)
INSERT [dbo].[Proveedor] ([IdProveedor], [Nombre], [Telefono], [Activo]) VALUES (3, N'PepsiCo', N'812345678', 1)
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Telefono], [IdDireccion]) VALUES (1, N'Sede Principal', N'5574898654', 1)
INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Telefono], [IdDireccion]) VALUES (2, N'Sede Central', N'5574888654', 2)
INSERT [dbo].[Sucursal] ([IdSucursal], [Nombre], [Telefono], [IdDireccion]) VALUES (3, N'Sede Norte', N'5558978654', 3)
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([IdVenta], [IdSucursal], [FechaVenta], [Total]) VALUES (1, 1, CAST(0x0000B33F00000000 AS DateTime), CAST(150.00 AS Decimal(12, 2)))
INSERT [dbo].[Venta] ([IdVenta], [IdSucursal], [FechaVenta], [Total]) VALUES (2, 1, CAST(0x0000B3400154604E AS DateTime), CAST(150.00 AS Decimal(12, 2)))
INSERT [dbo].[Venta] ([IdVenta], [IdSucursal], [FechaVenta], [Total]) VALUES (3, 2, CAST(0x0000B340016A0E72 AS DateTime), CAST(4.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Venta] OFF
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[RompimientoProductoProveedor] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Colonia]  WITH CHECK ADD FOREIGN KEY([IdMunicipio])
REFERENCES [dbo].[Municipio] ([IdMunicipio])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compra] ([IdCompra])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([IdVenta])
REFERENCES [dbo].[Venta] ([IdVenta])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([IdColonia])
REFERENCES [dbo].[Colonia] ([IdColonia])
GO
ALTER TABLE [dbo].[InventarioSucursal]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[InventarioSucursal]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Municipio]  WITH CHECK ADD FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([IdEstado])
GO
ALTER TABLE [dbo].[RompimientoProductoProveedor]  WITH CHECK ADD FOREIGN KEY([IdCompra])
REFERENCES [dbo].[Compra] ([IdCompra])
GO
ALTER TABLE [dbo].[RompimientoProductoProveedor]  WITH CHECK ADD FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[RompimientoProductoProveedor]  WITH CHECK ADD FOREIGN KEY([IdProveedor])
REFERENCES [dbo].[Proveedor] ([IdProveedor])
GO
ALTER TABLE [dbo].[Sucursal]  WITH CHECK ADD FOREIGN KEY([IdDireccion])
REFERENCES [dbo].[Direccion] ([IdDireccion])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROL] ([IdRol])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([IdSucursal])
REFERENCES [dbo].[Sucursal] ([IdSucursal])
GO
USE [master]
GO
